* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}
